.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
}

.heading {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem !important;
  font-weight: bold;
}

.input {
  width: 350px;
  height: 250px;
  margin: 100px;
  font-size: large;
}
